:root {
    --background: #0d0d0d;
    --on-background: #e8e8e8;
    --on-background-varient: #d8d8d8;
    --primary: #dc2626;
    --on-primary: #ffffff;
    --border: #2a2a2a;
    --font-family: 'IBM Plex Sans', system-ui, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: var(--background);
    color: var(--on-background);
    font-family: var(--font-family);
}

.app {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls {
    position: absolute;
    width: 100%;
    padding: 10px;
    bottom: 10px;
    max-width: 1000px;
}
